<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite">
    <test name="MainPage review">
        <parameter name="browser" value="chrome"/>
        <parameter name="width" value="1600"/>
        <parameter name="height" value="900"/>
        <parameter name="url" value="https://merlin.pl/"/>
        <classes>
            <class name="tests.MainPageCheck"/>
        </classes>
    </test>
    <test name="Cart check">
        <parameter name="browser" value="chrome"/>
        <parameter name="width" value="1600"/>
        <parameter name="height" value="900"/>
        <parameter name="url" value="https://merlin.pl/"/>
        <classes>
            <class name="tests.CartCheck"/>
        </classes>
    </test>
</suite>